# Dependencies
node_modules/

# Python
.venv/
__pycache__/
*.pyc

# Environment
.env
.env.*
!.env.example

# AWS
.aws-sam/
cdk.out/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# bmad
_bmad
_bmad-output
.claude/skills/bmad-*
.mcp.json
